<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="elements-menu">
        <ion-list-header>Dades Covid Catalunya</ion-list-header>
        <ion-menu-toggle auto-hide="false">
        <ion-item routerDirection="root" routerLink="casos-totals" lines="none" detail="false" routerLinkActive="selected">
        <ion-icon slot="start" ios="home" md="home"></ion-icon>
        <ion-label>Casos totals</ion-label>
        </ion-item>
        <ion-item routerDirection="root" routerLink="vacunacio-comarques" lines="none" detail="false" routerLinkActive="selected">
        <ion-icon slot="start" ios="list" md="list"></ion-icon>
        <ion-label>Vacunació comarques</ion-label>
        </ion-item>
        <ion-item routerDirection="root" routerLink="vacunacio-municipis" lines="none" detail="false" routerLinkActive="selected">
        <ion-icon slot="start" ios="list" md="list"></ion-icon>
        <ion-label>Vacunació municipis</ion-label>
        </ion-item>
        <ion-item routerDirection="root" routerLink="buscador" lines="none" detail="false" routerLinkActive="selected">
        <ion-icon slot="start" ios="search" md="search"></ion-icon>
        <ion-label>Buscador</ion-label>
        </ion-item>
        </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
